.container {
  /*background-image: url("/public/dubois_pixelated.jpeg");*/
  /*background-repeat:no-repeat;*/
  /*background-size: cover;*/
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.battle-container {
  height: 80%;
  display: flex;
  flex-direction: row;
}

.message-container {
  height: 15%;
  text-align: start;
}

.professor {
  width: 50%;
  height: 100%;
  border-width:5px;
  margin: 10px;
}

.professor-interior {
  width: 100%;
  /*height: 80%;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.health-bar-container {
  width: 80%;
  margin: 10px auto;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  height: 30px;
  margin: 0 auto;
}

.health-bar {
  background-color: green;
  height: 100%;
}

.professor-image-container {
}

.name{
  margin: 0 auto;
  font-family: PixeloidMono;
  font-size: 1.3rem;
}

.player-info-right {
  border-color:black;
  border-width: 5px;
  border-style: solid;
  width: 500px;
  height: 100px;
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color:white;
}

.small-image-container {
  width: 70px;
}

.small-image {
  width: 100%;
}
