.container {
  width: 12rem;
  height: 12rem;
  border-style: solid;
  border-color: red;
  cursor: pointer;
}

.container:hover{
  opacity: 0.8;
}

.disabled-container {
  width: 12rem;
  height: 12rem;
  border-style: solid;
  border-color: black;
}

.image {
  width: 100%;
}

.text {
  font-family: PixeloidMono;
  font-size: 0.85rem;
}
